/*whole page elements and values
/*FF9933-orange	003399-dark blue	99CCCC-light blue	CCCCCC-grey*/
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  color: #003399;
  background-color: #89bdd3;
}
/*grey behind links at top/btm of page*/
header {
	background: #e3e3e3;
}
/*hyperlink color at top/btm of page*/
a:link, a:visited {
  color:#003399;
}
/*hyperlink alt. color at top of page*/
a:hover, a:active{
  color:#FF9933;
}
.cForm {
  margin: 2rem;
  padding: 2rem;
  max-width: 650px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.cForm label {
  display:block;
  margin-bottom: 10px;
}
.cForm span {
  float: left;
    width: 100px;
    color: #003399;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.cForm fieldset {
  border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #003399;
    padding: 20px;
    background: white;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.cForm fieldset legend{
    color: #003399;
    border-top: 1px solid #003399;
    border-left: 1px solid #003399;
    border-right: 1px solid #003399;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: white;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #C9C9C9;
    -moz-box-shadow:-0px -1px 2px #C9C9C9;
    -webkit-box-shadow:-0px -1px 2px #C9C9C9;
    font-weight: normal;
    font-size: 14px;
}
.cForm textarea{
    width:550px;
    height:225px;
}
.cForm input[type=text],
.cForm input[type=date],
.cForm input[type=datetime],
.cForm input[type=number],
.cForm input[type=search],
.cForm input[type=time],
.cForm input[type=url],
.cForm input[type=email],
.cForm select,
.cForm textarea{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 50px;
    border: 1px solid #003399;
    outline: none;
    color: #003399;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #C9C9C9;
    -moz-box-shadow: inset 1px 1px 4px #C9C9C9;
    -webkit-box-shadow: inset 1px 1px 4px #C9C9C9;
    background: white;
    width:50%;
}
.cForm input[type=submit],
.cForm  input[type=button]{
    background: #e3e3e3;
    border: 1px solid #003399;
    padding: 5px 15px 5px 15px;
    color: #003399;
    box-shadow: inset 1px 1px 3px #003399;
    -moz-box-shadow: inset -1px -1px 5px #003399;
    -webkit-box-shadow: inset -1px -1px 5px #003399;
    border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 50px;
    font-weight: bold;
}

.required {
  color: white;
  font-weight:bold;
}
/*grey behind links at top/btm of page*/
footer{
  background: #C9C9C9;
}
.nav_list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
/*nav elements */
.nav_list_item {
  margin: 1rem;
  font-weight: bold;
}
/*core page elements*/
.container {
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
  text-align: right;
}
/*Richard W. Rouse */
#name {
	font-size: 5rem;
	color: #fffae4;
  text-shadow: 0.4rem 0.4rem 0.4rem #234;
}
/*Developer*/
#title {
  font-size: 4rem;
}
/*pic of me*/
#me {
  max-width: 20%;
  border-radius: 50px;
  float: left;
}
