/*whole page elements and values
/*FF9933-orange	003399-dark blue	99CCCC-light blue	CCCCCC-grey*/
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  color: #003399;
  background-color: #99CCCC;
}
/*grey bg behind links at top of page*/
header {
	background: #CCCCCC;
}
/*hyperlink color at top of page*/
a:link, a:visited {
  color:#003399;
}
/*hyperlink alt. color at top of page*/
a:hover, a:active{
  color:#FF9933;
}
/*header*/
.nav_list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
/*header elements */
.nav_list_item {
  margin: 1rem;
  font-weight: bold;
}
/*core page elements*/
.sectionHero {
  margin-right: 10rem;
  margin-left: 10rem;
  text-align: right;
}

.hero_text {
	font-size: 6rem;
	color: #fffae4;text-shadow: 0.4rem 0.4rem 0.4rem #234;
}

.hero-subtext {
  font-size: 4rem;
}
